<div class="w-screen-full">
   <div class="bg-[#fafafc] ">
        <div class="w-screen h-[135px] py-6 px-6">
            <div class="flex max-w-5xl h-full mx-auto my-0 gap-6 overflow-x-scroll">
                <div class="w-24 ">
                    <div class="w-10 mx-auto">
                        <img class="w-full" src="../image/mac/notebook-computer.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none" ><a href="">MacBook Air</a></li>
                    <h6 class="text-red-500 text-[10px] text-center">New</h6>
                </div>

                <div class="w-24 ">
                    <div>
                        <img class="w-10 mx-auto" src="../image/mac/notebook-computer.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none"><a href="">MacBook Pro</a></li>
                </div>

                <div class="w-20 ">
                    <div class="w-10 mx-auto ">
                        <img class="w-full" src="../image/mac/monitor.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none"><a href="">iMac</a></li>
                </div>

                <div class="w-20 ">
                    <div class="w-10 mx-auto">
                        <img class="w-full" src="../image/mac/computer.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none" ><a href="">Mac mini</a></li>
                </div>
    <!-- mac sturi -->
                <div class="w-20 ">
                    <div class="w-10 mx-auto">
                        <img class="w-full" src="../image/mac/computer.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none" ><a href="">Mac Studio</a></li>
                </div>

                <div class="w-20 ">
                    <div class="w-10 mx-auto" >
                        <img class="w-full" src="../image/mac/apple (5).png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none" ><a href="">Mac Pro</a></li>
                </div>

                <div class="w-20 ">
                    <div class="w-10 mx-auto">
                        <img class="w-full" src="../image/mac/mobile.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none" ><a href="">Compare</a></li>
                </div>

                <div class="w-20 ">
                    <div  class="w-10 mx-auto">
                        <img class="w-full" src="../image/mac/display.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none" ><a href="">Displays</a></li>
                </div>

                <div class="w-20 ">
                    <div  class="w-10 mx-auto">
                        <img class="w-full" src="../image/mac/headphones.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none" ><a href="">Accessories</a></li>
                </div>

                <div class="w-20 ">
                    <div  class="w-10 mx-auto">
                        <img class="w-full" src="../image/mac/mac.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none" ><a href="">Sonoma</a></li>
                </div>

                <div class="w-20 ">
                    <div  class="w-10 mx-auto">
                        <img class="w-full" src="../image/mac/shopping-cart.png" alt="">
                    </div>
                    <li class="text-[12px] text-center my-0 list-none" ><a href="">Shop Mac</a></li>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-[#f5f5f7] w-full py-3">
        <div class="lg:max-w-4xl mx-auto ">
            <p class="text-[12px] text-center">
                Get 3% Daily Cash back with Apple Card. And pay for your new Mac over 12 months, interest‑free when you choose to check out with Apple Card Monthly Installments. 
                <a href="" class="text-blue-500 ">Learn more ></a>
            </p>
        </div>
    </div>

    <div class="lg:flex max-w-screen-2xl mx-auto justify-between my-20 lg:px-16 px-14">
        <div class="lg:text-7xl text-5xl my-2 font-semibold">
            <h1>Mac</h1>
        </div>

        <div class="lg:text-2xl text-xl font-medium ">
            <p>If you can dream it,<br> Mac can do it.</p>
        </div>
    </div>

    <div  class="max-w-screen-2xl mx-auto ">
        <video class="w-full rounded-3xl shadow-md" autoplay="" loop="" src="../image/mac/apple video.mp4"></video>
    </div>

    <div   class="max-w-screen-2xl mx-auto lg:text-5xl text-2xl font-semibold  my-20 lg:px-16 px-14">
        <h2>Get to know Mac.</h2>
    </div>


    <div class="w-full ">
        <div  class="flex w-10/12   overflow-x-scroll  mx-auto px-4 items-center gap-8 pb-10 mb-20 pt-10 cursor-pointer ">
            <!-- card1 -->
            <div class="">
                <div class="h-[750px] w-[400px] duration-500 rounded-3xl overflow-hidden relative shadow-xl hover:scale-[102%]" >
                    <div class="absolute ml-8 mt-14 text-white">
                        <h6 class="text-lg font-medium ">Getting Started</h6>
                        <h2 class="text-3xl font-medium">Easy to use. Easy to love.</h2>
                    </div>
                    <img autoplay="" src="https://www.apple.com/v/mac/home/bz/images/overview/consider/mac_ease__bvgkz2zdltxy_xlarge.jpg" alt="">
                    <div class="absolute bottom-4 right-4 ">
                        <img class="w-8 " src="../image/mac/plus.png" alt="">
                    </div>
                </div>
            </div>
        
        
            <!-- card2-->
        
            <div  class="">
                <div class="h-[750px] w-[400px] duration-500 rounded-3xl overflow-hidden relative shadow-xl hover:scale-[102%]" >
                    <div class="absolute ml-8 mt-14 text-white">
                        <h6 class="text-lg font-medium ">Performace and Bettery Life</h6>
                        <h2 class="text-3xl font-medium">Go fast. Go far.</h2>
                    </div>
                    <img class="" src="https://www.apple.com/v/mac/home/bz/images/overview/consider/mac_performance__dh5hyac1zf8m_xlarge.jpg" alt="">
                    <div class="absolute bottom-4 right-4 ">
                    <img class="w-8 " src="../image/mac/plus.png" alt="">
                </div>
                </div>
            </div>
        
        
        
        
        
            <!-- card3 -->
            <div  class="">
                <div class="h-[750px] w-[400px] duration-500 rounded-3xl overflow-hidden relative shadow-xl hover:scale-[102%]" >
                    <div class="absolute ml-8 mt-14 ">
                        <h6 class="text-lg font-medium ">Mac and iPhone</h6>
                        <h2 class="text-3xl font-medium">Dream team.</h2>
                    </div>
                    <img class="" src="https://www.apple.com/v/mac/home/bz/images/overview/consider/mac_iphone__gh1tblkt6bqm_xlarge.jpg" alt="">
                    <div class="absolute bottom-4 right-4 ">
                        <img class="w-8 " src="../image/mac/plus.png" alt="">
                    </div>
                </div>
            </div>
        
        
        
        
            <!-- card4 -->
            <div  class="">
                <div class="h-[750px] w-[400px] duration-500 rounded-3xl overflow-hidden relative shadow-xl hover:scale-[102%]" >
                    <div class="absolute ml-8 mt-14 ">
                        <h6 class="text-lg font-medium ">Compatibility</h6>
                        <h2 class="text-3xl font-medium">Nac runs your <br> favorite apps.</h2>
                    </div>
                    <img class="" src="https://www.apple.com/v/mac/home/bz/images/overview/consider/mac_compatibility__cu59oukz81ci_xlarge.jpg" alt="">
                    <div class="absolute bottom-4 right-4 ">
                        <img class="w-8 " src="../image/mac/plus.png" alt="">
                    </div>
                </div>
            </div>
        
        
        
        
            <!-- card5 -->
            <div  class="">
                <div class="h-[750px] w-[400px] duration-500 rounded-3xl overflow-hidden relative shadow-xl hover:scale-[102%]" >
                    <div class="absolute ml-8 mt-14 text-white">
                        <h6 class="text-lg font-medium ">Privacy and Security</h6>
                        <h2 class="text-3xl font-medium">Your business is <br> nobody else's.</h2>
                    </div>
                    <img class="" src="https://www.apple.com/v/mac/home/bz/images/overview/consider/mac_security__gfwda10khdym_xlarge.jpg" alt="">
                    <div class="absolute bottom-4 right-4 ">
                        <img class="w-8  " src="../image/mac/plus.png" alt="">
                    </div>
                </div>
            </div>
        
        
        
            <!-- card6 -->
            <div  class="">
                <div class="h-[750px] w-[400px] duration-500 rounded-3xl overflow-hidden relative shadow-xl hover:scale-[102%]" >
                    <div class="absolute ml-8 mt-14 text-black">
                        <h6 class="text-lg font-medium ">Durability</h6>
                        <h2 class="text-3xl font-medium">Build to stand the <br> test of time.</h2>
                    </div>
                    <img class="" src="https://www.apple.com/v/mac/home/bz/images/overview/consider/mac_durability__epiwcuk7zkeq_xlarge.jpg" alt="">
                    <div class="absolute bottom-4 right-4 ">
                        <img class="w-8 " src="../image/mac/plus.png" alt="">
                    </div>
                </div>
            </div>
        
        
        
            <!-- card7 -->
            <div  class="">
                <div class="h-[750px] w-[400px] duration-500 rounded-3xl overflow-hidden relative shadow-xl hover:scale-[102%]" >
                    <div class="absolute ml-8 mt-14 text-black">
                        <h6 class="text-lg font-medium ">Apple Values</h6>
                        <h2 class="text-3xl font-medium">Our values drive <br> everythng we do. </h2>
                    </div>
                    <img class="" src="https://www.apple.com/v/mac/home/bz/images/overview/consider/mac_values__c9gck9qi4kia_xlarge.jpg" alt="">
                    <div class="absolute bottom-4 right-4 ">
                        <img class="w-8 " src="../image/mac/plus.png" alt="">
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <div class="w-full h-full bg-[#fafafa]">
        <div class="max-w-screen-2xl mx-auto lg:px-16 ">
            <div class="flex justify-between  px-14 py-16"> 
                <h1 class="lg:text-5xl text-2xl font-semibold">Explore the lineup.</h1>
                <li class="lg:text-lg text-sm text-blue-500 list-none my-auto"><a href="">Compare all models> </a></li> 
            </div>


            <!-- button -->
            <div class="flex bg-white  rounded-3xl py-3 gap-2 w-fit lg:ml-14 mx-auto text-left   mb-16 lg:my-16">
                <button class="btn1 lg:py-2 lg:px-8 px-6 py-3 bg-black rounded-3xl text-white cursor-pointer text-sm lg:text-lg">Laptops</button>
                <button class="btn2 lg:py-2 lg:px-8 px-6 py-3  rounded-3xl text-black cursor-pointer text-sm lg:text-lg">Desktops</button>
                <button class="btn3 lg:py-2 lg:px-8 px-6 py-3 rounded-3xl text-black cursor-pointer text-sm lg:text-lg">Displays</button>
            </div>


            <!--Laptops-->
            <div class="laptops flex gap-8  duration-500 px-14 py-16">
                <div>
                    <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_mba_13_15__fx2g3qlubdym_large.png" alt="">
                    <div class="my-12 text-center">
                        <h6 class="text-red-700 text-[12px]">New M3 models</h6>
                        <h3 class="text-2xl font-semibold ">MacBook Air 13" and 15"</h3>
                        <h4 class="text-lg font-semibold ">M2 or M3 chip</h4>
                        <li class="my-4 text-lg list-none">Strikingly thin and fast so you can <br> work, play, or create aywhere.</li>
                        <li class="list-none font-semibold text-lg">From $999 or $83.25/mo. for 12 mo°</li>
                    </div>
                    <div class="text-blue gap-2 my-16 text-center">
                        <button class="bg-blue-500 text-white lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:bg-blue-400">Learn more</button>
                        <button class="text-blue-500 rounded-3xl lg:text-base text-sm  lg:py-3 py-2 lg:px-6 px-4 hover:underline">Buy > </button>
                    </div>
                </div>

                <div>
                    <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_mba_13_15__fx2g3qlubdym_large.png" alt="">
                    <div class="my-16 text-center">
                        <h3 class="text-2xl font-semibold ">MacBook Air 14" and 16"</h3>
                        <h4 class="text-lg font-semibold "> M3, M3 Pro, or M3 Max chip</h4>
                        <li class="my-4 text-lg list-none">The most advanced Mac laptops <br> for demanding workflows.</li>
                        <li class="list-none font-semibold text-lg">From $1599r $133.25/mo. for 12 mo°</li>
                    </div>
                    <div class="text-blue gap-2 my-16 text-center">
                        <button class="bg-blue-500 text-white lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:bg-blue-400">Learn more</button>
                        <button class="text-blue-500 rounded-3xl lg:text-base text-sm lg:py-3 py-2 lg:px-6 px-4 hover:underline">Buy > </button>
                    </div>
                </div>
            </div>       


            <div class="laptops-ele flex gap-8 duration-500 px-14 py-16">
                <!-- col1 -->
                <div class="w-[360px] text-center">
                    <div class="mb-12">
                        <h3 class="text-2xl font-semibold">13.6" or 15.3"</h3>
                        <li class="list-none text-sm ">Liquid Retina display with 500 nits of brightness <br> and support for 1 billion colors.</li>                            
                    </div>

                    <div class="mb-12">
                        <div class="px-[40%]">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_icon_m2_m3__jo6w8mbgmmye_large.png" alt="">
                        </div>
                        <h6 class=" text-sm ">Apple M2 or M3 chip</h6>
                    </div>

                    <div class="mb-12">
                        <h6 class=" text-sm ">Up to</h6>
                        <h3 class="text-2xl font-semibold">18 hours</h3>
                        <h6 class=" text-sm ">battery life</h6>
                    </div>

                    <div class="mb-12">
                        <h3 class="text-2xl font-semibold">4 ports</h3>
                        <li class="list-none text-sm ">2x Thunderbolt/ USB 4, <br> headphone jack, MagSafe</li>
                    </div>

                    <div class="mb-12">
                        <h3 class="text-2xl font-semibold">2.7 lb. or 3.3 lb.</h3>
                        <h6 class=" text-sm ">Weight</h6>
                    </div>

                </div>


                <!-- col2 -->
                <div class="w-[360px] text-center">
                    <div>
                        <div class="mb-10">
                            <h3 class="text-2xl font-semibold"> 14.2" or 16.2"</h3>
                            <li  class="list-none text-sm ">Liquid Retina XDR display with 1000 nits <br> of HDR and 600 nits of SDR brightness and up to 120Hz refresh.</li>                            
                        </div>

                        <div class="mb-12">
                            <div class=" px-[40%]">
                                <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_icon_m3_pro_max__wg8d2vblzmqi_large.png" alt="">                             
                            </div>
                            <h6  class=" text-sm ">Apple M3, M3 Pro, or M3 chip</h6>
                        </div>

                        <div class="mb-10">
                            <h6 class=" text-sm ">Up to </h6>
                            <h3 class="text-2xl font-semibold">22 hours</h3>
                            <h6 class=" text-sm ">battery life.</h6>
                        </div>

                        <div class="mb-12">
                            <h6 class=" text-sm ">Up to </h6>
                            <h3 class="text-2xl font-semibold">7 ports</h3>
                            <li class="list-none text-sm ">2x Thunderbolt/ USB 4 or <br> 3x Thunderbolt 4, HDMI, SDXC, <br>
                            heandphone jack, MagSafe</li>
                        </div>

                        <div class="mb-12">
                            <h3 class="text-2xl font-semibold">3.4 lb. or 4.7 lb.</h3>
                            <h6 class=" text-sm ">Weight</h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Desktop -->
            <div class="desktop w-full flex gap-12 mt-16 hidden duration-500  translate-y-6 px-14 py-16 overflow-x-scroll">
                <!-- imac -->
                <div class="text-center w-[300p] min-w-[250px]">
                    <div class="mb-4 pt-[40px] w-full">
                        <img class="w-full" src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_imac_24__inq0od011wuq_large.png" alt="">
                    </div>

                    <div class="mb-4">
                        <h2 class="text-2xl font-semibold">iMac</h2>
                        <h3 class=" font-semibold">M3 Shop</h3>
                    </div>

                    <div class="mb-4">
                        <li class="list-none text-base ">A stunning all-in-one desktop for creativity <br>
                        and productivity.</li>
                    </div>

                    <div class="mb-4">
                        <li class="list-none font-semibold text-base">From $1299 or $108.25/mo. fot 12mo.</li>
                    </div>

                    <div class="flex text-base mb-12 justify-center">
                        <button class="bg-blue-500 text-white lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:bg-blue-400">Learn more</button>
                        <button class="text-blue-500 lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:underline">Buy ></button>
                    </div>
                </div>



                <!-- mac mini -->
                <div class="text-center w-[300px] min-w-[250px]">
                    <div class="mb-4 pt-[278px]">
                        <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_mac_mini__c4284n3j25w2_large.png" alt="">
                    </div>

                    <div class="mb-4">
                        <h2 class="text-2xl font-semibold">Mac mini</h2>
                        <h3 class=" font-semibold">M2 or M2 Pro chip</h3>
                    </div>

                    <div class="mb-4">
                        <li class="list-none text-lg ">The most affordable Mac desktop with <br> outsized Performace.</li>
                    </div>

                    <div class="mb-4">
                        <li class="list-none font-semibold text-base">From $599 or $49.91/mo. for 12mo.</li>
                    </div>

                    <div class="flex text-base mb-12 justify-center">
                        <button class="bg-blue-500 text-white lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:bg-blue-400">Learn more</button>
                        <button class="text-blue-500 lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:underline">Buy ></button>
                    </div>
                </div>


                <!-- Mac studio -->
                <div class="text-center w-[300px] min-w-[250px]">
                    <div class="mb-4 pt-[240px]">
                        <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_mac_studio__c24lhkuq4vee_large.png" alt="">
                    </div>

                    <div class="mb-4">
                        <h2 class="text-2xl font-semibold">Mac studio</h2>
                        <h3 class=" font-semibold">M2 Max or M2 Ultra chip</h3>
                    </div>

                    <div class="mb-4">
                        <li class="list-none text-lg ">Powerful performance and extensive <br> connectivity for pro workflows.</li>
                    </div>

                    <div class="mb-4">
                        <li class="list-none font-semibold text-base">From $1999 or $166.58/mo. for 12mo.</li>
                    </div>

                    <div class="flex text-base mb-12 justify-center">
                        <button class="bg-blue-500 text-white text-base rounded-3xl py-3 px-6 hover:bg-blue-400">Learn more</button>
                        <button class="text-blue-500 rounded-3xl py-3 px-6 text-base hover:underline">Buy ></button>
                    </div>
                </div>


                <!-- Mac Pro -->
                <div class="text-center w-[300px] min-w-[250px]">
                    <div class="mb-4">
                        <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_mac_pro__6q3qt8073f6e_large.png" alt="">
                    </div>

                    <div class="mb-4">
                        <h2 class="text-2xl font-semibold">Mac Pro </h2>
                        <h3 class=" font-semibold">M2 Ultra chip</h3>
                    </div>

                    <div class="mb-4">
                        <li class="list-none text-lg ">A pro workstation with PCle expansion <br>for  demanding workflows.</li>
                    </div>

                    <div class="mb-4">
                        <li class="list-none font-semibold text-base">From $6999 or $583.25/mo. for 12mo.</li>
                    </div>

                    <div class="flex text-base mb-12 justify-center">
                        <button class="bg-blue-500 text-white lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:bg-blue-400">Learn more</button>
                        <button class="text-blue-500 rounded-3xl lg:text-base text-sm  lg:py-3 py-2 lg:px-6 px-4 hover:underline">Buy ></button>
                    </div>
                </div>
                <hr class="pb-16 max-w-8xl ">
            </div>
            
            
            <div class="desktop-ele flex gap-8 hidden duration-500 px-14 py-16"> 
                <!-- col1 -->
                <div class="text-center w-[300p]">
                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold">24"</h3>
                        <li class="list-none text-xs ">4.5K Retina display 500 nits of brightness delivers <br> sharp and vibrant detail.</li>  
                    </div>

                    <div class=" mb-6">
                        <img class="mx-auto" src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_icon_m3__geq4mv9q8qeu_large.png" alt="">
                        <h6 class="text-xs">Apple M3 chip</h6>
                    </div>

                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold" >--</h3>
                    </div>

                    <div class="mb-6">
                        <h6 class="text-xs">up to</h6>
                        <h3 class="text-2xl font-semibold">6 ports</h3>
                        <li class="list-none text-xs">2x Thunderbolt/ USB4, up to 2x USB 3, Gigabit Ethernet, <br> headphone jack</li>
                    </div>
                </div>


                <!-- col2 -->
                <div class="text-center w-[300p]">
                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold">--</h3>
                    </div>

                    <div class="mx-auto mb-6">
                        <img class="mx-auto" src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_icon_m2_pro__c5ftjeskmwuq_large.png" alt="">
                        <h6 class="text-xs">Apple M2 or M2 Pro chip</h6>
                    </div>

                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold" >--</h3>
                    </div>

                    <div class="mb-6">
                        <h6 class="text-xs">Up to </h6>
                        <h3 class="text-2xl font-semibold">9 ports</h3>
                        <li class="list-none text-xs">Up to 4x Thunderbolt 4, 2x USB-A, HDMI, GIgabit Ethernet,, <br> headphone jack</li>
                    </div>
                </div>


                <!-- col3 -->
                <div class="text-center w-[300p]">
                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold">--</h3>
                    </div>

                    <div class="mx-auto mb-6">
                        <img class="mx-auto" src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_icon_m2_max_m2_ultra__d0wnaf44m6qa_large.png" alt="">
                        <h6 class="text-xs">Apple M2 Max or M2 Ultra chip</h6>
                    </div>

                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold" >--</h3>
                    </div>

                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold">12 ports</h3>
                        <li class="list-none text-xs">Up to 6x Thunderbolt4, 2x USB-A, up to 2x USB-C, HDMI, <br> 10Gb Ethernet, SDXC, headphone jack</li>
                    </div>
                </div>


                <!-- col4 -->
                <div class="text-center w-[300p]">
                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold">--</h3>
                    </div>

                    <div class="mx-auto mb-6">
                        <img class="mx-auto" src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_icon_m2_ultra__4mmsok50gvmu_large.png" alt="">
                        <h6 class="text-xs">Apple M2 Ultra chip</h6>
                    </div>

                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold" >PCle</h3>
                        <li class="list-none text-xs">Features seven expansion slots, six of which are PCle gen 4</li>
                    </div>

                    <div class="mb-6">
                        <h3 class="text-2xl font-semibold">18 ports</h3>
                        <li class="list-none text-xs">8x Thunderbolt 4, 3x USB-A, 2x HDMI, 2x 10Gb Ethernet, <br> 2x Serial ATA, headphone jack</li>
                    </div>
                </div>
            </div>


            <!-- Display -->
            <div class="display flex gap-8 mt-16 hidden duration-500 px-14 py-16">
                <div>
                    <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_studio_display__c0gbtkgtsx0m_large.png" alt="">
                    <div class="my-12 text-center">
                        <h3 class="text-2xl font-semibold ">Studio Display</h3>
                        <li class="my-4 text-base text-gray-500 list-none">A 5K Retina display with stella camera <br> and audio.</li>
                        <li class="list-none font-semibold text-lg">From $1599 or $133.25/mo. for 12 mo°</li>
                    </div>
                    <div class="text-blue gap-2 my-16 text-center">
                        <button class="bg-blue-500 text-white lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:bg-blue-400">Learn more</button>
                        <button class="text-blue-500 lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:underline">Buy > </button>
                    </div>
                </div>

                <div>
                    <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_pro_display__duklzyfwl92e_large.png" alt="">
                    <div class="my-16 text-center">
                        <h3 class="text-2xl font-semibold ">Pro Display</h3>
                        <li class="my-4 text-base list-none text-gray-500">An advanced 6K XDR display for pro workflows .</li>
                        <li class="list-none font-semibold text-lg">From $4999 or $416.58/mo. for 12 mo°</li>
                    </div>
                    <div class="text-blue gap-2 my-16 text-center">
                        <button class="bg-blue-500 text-white lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:bg-blue-400">Learn more</button>
                        <button class="text-blue-500 lg:text-base text-sm rounded-3xl lg:py-3 py-2 lg:px-6 px-4 hover:underline">Buy > </button>
                    </div>
                </div>
                <hr class="pb-16 max-w-2xl ">
            </div>   


            <div class="display-ele flex gap-8 hidden duration-500 px-14 py-16">
                <!-- col1 -->
                <div class="w-[360px] text-center">
                    <div class="mb-12">
                        <h3 class="text-2xl font-semibold">27"</h3>
                        <li class="list-none text-sm ">Retina display with 5120 by 2880 pixels</li>                       
                    </div>


                    <div class="mb-12">
                        <h3 class="text-2xl font-semibold">5K</h3>
                        <li class="list-none text-sm ">Retina display for gorgeous color and spectacular detail</li>                       
                    </div>


                    <div class="mb-12">
                        <h3 class="text-2xl font-semibold">600 nits</h3>
                        <li class="list-none text-sm ">brightness for brilliant color</li>                       
                    </div>

                    <div class="mb-12">
                        <div class="px-[40%]">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_icon_video__br4ndidbu11e_large.png" alt="">
                        </div>
                        <h6 class=" text-sm ">12MP Ultra Wide camera with Center Stage for more natural video calls</h6>
                    </div>

                    <div class="mb-12">
                        <div class="px-[40%]">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_icon_screen__gfttd7yxs9ay_large.png" alt="">
                        </div>
                        <h6 class=" text-sm ">True Tone, anti-reflective coating, and a nano-texture glass option for optimal viewing in any light</h6>
                    </div>



                    <div class="mb-12">
                        <h3 class="text-2xl font-semibold">4 ports</h3>
                        <li class="list-none text-sm ">Thunderbolt 3 (USB‑C), 3x USB‑C
                        </li>                       
                    </div>


                </div>


                <!-- col2 -->
                <div class="w-[360px] text-center">
                    <div>
                        <div class="w-[360px] text-center">
                            <div class="mb-12">
                                <h3 class="text-2xl font-semibold">32"</h3>
                                <li class="list-none text-sm ">Retina XDR display with 6016 by 3384 pixels9</li>                       
                            </div>
        
        
                            <div class="mb-12">
                                <h3 class="text-2xl font-semibold">6K</h3>
                                <li class="list-none text-sm "></li>Retina XDR display for the most immersive viewing experience</li>                       
                            </div>
        
        
                            <div class="mb-12">
                                <h3 class="text-2xl font-semibold">1000 nits</h3>
                                <li class="list-none text-sm ">brightness for dazzling color; up to 1600 nits peak brightness</li>                       
                            </div>
        
                            <div class="mb-12">
                                <h6 class=" text-2xl semibold ">--</h6>
                            </div>
        
                            <div class="mb-12">
                                <div class="px-[40%]">
                                    <img src="https://www.apple.com/v/mac/home/bz/images/overview/select/product_tile_icon_screen__gfttd7yxs9ay_large.png" alt="">
                                </div>
                                <h6 class=" text-sm ">True Tone, anti-reflective coating, and a nano-texture glass option for optimal viewing in any light</h6>
                            </div>
        
        
        
                            <div class="mb-12">
                                <h3 class="text-2xl font-semibold">4 ports</h3>
                                <li class="list-none text-sm ">Thunderbolt 3 (USB‑C), 3x USB‑C
                                </li>                       
                            </div>
        
                    </div>
                </div>
            </div>
        </div>

        <!--  why  Apple is the best-->
        <div class="">
            <div class="max-w-screen-2xl mx-auto ">
                <div class="lg:flex lg:text-5xl text-2xl font-semibold justify-between lg:pl-14 pb-16 pt-16 pl-14">
                    <h1 class="w-[250px]">
                        Why Apple is the best place to buy Mac. 
                    </h1>
                    <li class="lg:text-lg text-sm text-blue-500 list-none my-4"><a href="">Shop Mac> </a></li>                    
                </div>

                <div class="flex overflow-x-scroll cursor-pointer gap-8 lg:px-8 px-4 py-4 mb-20">
                    <!-- col1 -->
                    <div>
                        <div class="duration-700 hover:scale-[102%] w-[450px] h-[350px] rounded-3xl overflow-hidden relative px-4 bg-white pt-12 pl-12 shadow-lg">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/incentive/icon_apple_card__fa68csvawtei_large.png" alt="">
                            <h3 class="text-3xl font-semibold py-4 ">Pay over time, <br> interest-free</h3>
                            <li class="list-none text-xl font-medium pb-4">When you choose to check out <br> with Apple Card Monthly <br> installments.</li>
                            <img class="w-8 top-[83%] right-8 absolute" src="../image/mac/plus.png" alt="">
                        </div>                    
                    </div>


                    <!-- col2 -->
                    <div>
                        <div class="duration-700 hover:scale-[102%] w-[450px] h-[350px] rounded-3xl overflow-hidden relative px-4 bg-white pt-12 pl-12 shadow-lg">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/incentive/icon_trade_in__ca5f20mux4b6_large.png" alt="">
                            <h3 class="text-3xl font-semibold py-4 ">Save with <br> Apple Trade In.</h3>
                            <li class="list-none text-xl font-medium pb-4">Get credit toward your next Mac <br> when you trade in an eligible <br> device.</li>
                            <img class="w-8 top-[83%] right-8 absolute" src="../image/mac/plus.png" alt="">
                        </div>                    
                    </div>

                    
                    
                    <!-- col3 -->
                    <div>
                        <div class="duration-700 hover:scale-[102%] w-[450px] h-[350px] rounded-3xl overflow-hidden relative px-4 bg-white pt-12 pl-12 shadow-lg">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/incentive/icon_customize__b6w4i5ax89py_large.png" alt="">
                            <h3 class="text-3xl font-semibold py-4 ">Customize your Mac</h3>
                            <li class="list-none text-xl font-medium pb-4">Choose your chip, memory, storage, even color.</li>
                            <img class="w-8 top-[83%] right-8 absolute" src="../image/mac/plus.png" alt="">
                        </div>                    
                    </div>
        
                    
                    
                    <!-- col4 -->
                    <div>
                        <div class="duration-700 hover:scale-[102%] w-[450px] h-[350px] rounded-3xl overflow-hidden relative px-4 bg-white pt-12 pl-12 shadow-lg">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/incentive/icon_delivery__fyzranm9416y_large.png" alt="">
                            <h3 class="text-3xl font-semibold py-4 ">Get flexible delivery <br> and easy pickup</h3>
                            <li class="list-none text-xl font-medium pb-4">Choose two-hour delivery from an <br> Apple Store, free delivery, or easy <br> pickup options.</li>
                            <img class="w-8 top-[83%] right-8 absolute" src="../image/mac/plus.png" alt="">
                        </div>                    
                    </div>



                    <!-- col5 -->
                    <div>
                        <div class="duration-700 hover:scale-[102%] w-[450px] h-[350px] rounded-3xl overflow-hidden relative px-4 bg-white pt-12 pl-12 shadow-lg">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/incentive/icon_specialist_alt__fht15dmiclei_large.png" alt="">
                            <h3 class="text-3xl font-semibold py-4 ">Shop live with <br> a Specialist.</h3>
                            <li class="list-none text-xl font-medium pb-4">Let us guide you live over vdieo <br> and answer all of your questions.</li>
                            <img class="w-8 top-[83%] right-8 absolute" src="../image/mac/plus.png" alt="">
                        </div>                    
                    </div>


                    <!-- col6 -->
                    <div>
                        <div class="duration-700 hover:scale-[102%] w-[450px] h-[350px] rounded-3xl overflow-hidden relative px-4 bg-white pt-12 pl-12 shadow-lg">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/incentive/icon_person__bayst2x5jyya_large.png" alt="">
                            <h3 class="text-3xl font-semibold py-4 ">Get to know your <br> new Mac.</h3>
                            <li class="list-none text-xl font-medium pb-4">Learn how to get the most out of <br> your new Mac with a freee one-on-<br> one Personal Session.</li>
                            <img class="w-8 top-[83%] right-8 absolute" src="../image/mac/plus.png" alt="">
                        </div>                    
                    </div>


                    <!-- col7 -->
                    <div>
                        <div class="duration-700 hover:scale-[102%] w-[450px] h-[350px] rounded-3xl overflow-hidden relative px-4 bg-white pt-12 pl-12 shadow-lg">
                            <img src="https://www.apple.com/v/mac/home/bz/images/overview/incentive/icon_asa__urbsp7b9ktuq_large.png" alt="">
                            <h3 class="text-3xl font-semibold py-4 ">Explore a shopping <br> experience designed <br> around you.</h3>
                            <li class="list-none text-xl font-medium pb-4">Use the Apple Store app to get a more personal way to shop.</li>
                            <img class="w-8 top-[83%] right-8 absolute" src="../image/mac/plus.png" alt="">
                        </div>                    
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Significant -->
    <div class="w-full bg-white">
        <div class="max-w-screen-2xl mx-auto ">
            <div class="py-24 px-14">
                <h1 class="lg:text-5xl text-2xl font-semibold">Significant others.</h1>
            </div>

            <div class="max-w-full bg-[#fafafa] rounded-3xl lg:w-full w-[90%] h-1/2 flex overflow-x-hidden mx-auto">
                <div class="flex mx-4">
                    <!-- menu -->
                    <div class="lg:py-36 py-12 lg:pl-32 pl-8">
                        <div class="lg:w-[550px] lg:mb-8 mb-4 w-full iphoneBtn ">
                            <div class="">
                                <div class="flex items-center justify-between lg:pb-8 pb-4">
                                    <h1 class="lg:text-4xl text-xl font-semibold" >Mac and iPhone</h1>
                                    <ion-icon class="w-6 h-6 rotate-180 arrow1"   name="chevron-down-outline"></ion-icon>
                                </div>                       
                            </div>

                            
                            <div class="list-none lg:text-xl text-base font-normal lg:py-8 py-4 container1">
                                <li> 
                                    You can answer calls or messages from <br>
                                    your iPhone directly on your Mac. Copy <br>
                                    images, video, or text on your iPhone, <br>
                                    then paste into another app on your <br>
                                    nearby Mac. With iCloud, you can access <br>
                                    your favorite files from either your iPhone <br>
                                    or your Mac. And so much more
                                </li>
                            </div>
                            <hr>
                        </div>


                        <!--Mac and iPad  -->
                        <div class="lg:w-[550px]  lg:mb-8 mb-4">
                            <div class="flex items-center justify-between lg:pb-8 pb-2 ipadBtn">
                                <h1 class="lg:text-4xl text-xl font-semibold" >Mac and iPad</h1>
                                <ion-icon class="w-6 h-6 rotate-0 arrow2" name="chevron-down-outline"></ion-icon>
                            </div>   
                            
                            <div class="list-none lg:text-xl text-base font-normal lg:py-8 py-4 hidden container2">
                                <li> 
                                    Sketch on your iPad and have it appear <br>
                                    instantly on your Mac. Or use your iPad as <br>
                                    a second display, so you can work on one <br> 
                                    screen while you reference the other. You <br> 
                                    can even start a Final Cut Pro project on <br>
                                    your iPad and continue it on your Mac.
                                </li>
                            </div>
                            <hr>
                        </div>  
                        
                        
                        <!-- Mac and Apple Watch -->
                        <div class="lg:w-[550px]  lg:mb-8 mb-4">
                            <div class="flex items-center justify-between lg:pb-8 pb-4 watchBtn">
                                <h1 class="lg:text-4xl text-xl font-semibold" >Mac and Apple Watch</h1>
                                <ion-icon class="w-6 h-6 rotate-0 arrow3" name="chevron-down-outline"></ion-icon>
                            </div>   
                            
                            <div class="list-none lg:text-xl text-base font-normal lg:py-8 py-4 hidden container3">
                                <li> 
                                    Automatically log in to your Mac when <br>
                                    you’re wearing your Apple Watch with <br>
                                    Auto Unlock. No password <br>
                                    typing required.
                                </li>
                            </div>
                            <hr>
                        </div>    
                    </div>  
                    
                    <div class="macIphone w-[750px] opacity-0 lg:opacity-100 duration-500">
                        <img class="w-full ml-[10%] mt-[30%]" src="../image/mac/mac and iphone.png" alt="">
                    </div>

                    <div class="macIpad w-[900px] hidden  opacity-0 lg:opacity-100 duration-500">
                        <img class="w-full mt-[10%]" src="../image/mac/mac and ipad.jpeg" alt="">   
                    </div>

                    <div class="macWatch w-[750px] hidden  opacity-0 lg:opacity-100 duration-500">
                        <img class="w-full ml-[10%] mt-[30%]" src="../image/mac/mac and watch.png" alt="">
                    </div>

                    
                </div>


                <!-- image -->
                <div>
                    <!-- Mac and iphone -->
                    <div>
                        <img src="" alt="">
                    </div>

                    <!-- Mac and iPad -->
                    <div>
                        <img src="" alt="">
                    </div>

                    <!-- Mac and Apple -->
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Mac essentails. -->
    <div class=" bg-white mb-24">
        <div class="max-w-screen-2xl mx-auto ">
            <div class="py-24 px-12 lg:flex justify-between items-center">
                <h1 class="lg:text-4xl text-2xl font-semibold">Significant others.</h1>
                <li class="list-none text-blue-500 hover:underline lg:text-xl text-sm my-4"><a href="">All Mac accessories ></a></li>
            </div>



            <div class=" max-w-screen-2xl  px-8 ">
                <!-- col1 -->
                <div class="overflow-x-scroll mx-auto flex w-full gap-8 " >
                    <div class="lg:w-[50%] min-w-[350px] h-full bg-[#fafafa] rounded-3xl overflow-hidden"> 
                        <div class="text-center py-24 ">
                            <h2 class="lg:text-3xl text-2xl font-semibold my-2">Mac accessories</h2>
                            <h3 class="lg:text-xl text-base  font-normal my-2 mx-4">Explore Keyboards, mice, and other essentials.</h3>
                            <li class="list-none text-blue-500 hover:underline lg:text-xl text-base  my-2">Shop Mac accessories ><a href=""></a></li>                        
                        </div>
                        <img class="w-full" src="https://www.apple.com/v/mac/home/bz/images/overview/essentials/essentials_accessories__dglhsic54owi_large.jpg" alt="">
                    </div>

                    <!-- col2 -->
                <div class="lg:w-[50%] min-w-[350px]  bg-[#fafafa] rounded-3xl overflow-hidden">
                        <div class="text-center py-24 ">
                            <h2  class="lg:text-3xl text-2xl font-semibold my-2">Studio Display</h2>
                            <h3  class="lg:text-xl text-base font-normal my-2 mx-4">The 27-inch Retina display beautifully with any Mac.</h3>
                            <li class="list-none text-blue-500 hover:underline lg:text-xl text-base my-2"><a href="">Learn more ></a></li>                        
                        </div>
                        <img class="w-full" src="https://www.apple.com/v/mac/home/bz/images/overview/essentials/essentials_display__bk3i351qm0c2_large.jpg" alt="">
                    </div>                
                </div>

            </div>
        </div>
    </div>
    
</div>
