<div class="w-full bg-black">
    <div class="max-w-screen-xl mx-auto h-[150px] flex items-center ">
        <!-- item1 -->
        <div class="w-[150px]">
            <div>
                <img  class="w-[50px] mx-auto "  src="../image/ipad/icons8-smartphone-tablet-80.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">iPad Pro</h6>
        </div>

        <!-- item2 -->
        <div class="w-[150px]">
            <div>
                <img  class="w-[50px] mx-auto"  src="../image/ipad/icons8-smartphone-tablet-64.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">iPad Air</h6>
        </div>


        <!-- item3 -->
        <div class="w-[150px]">
            <div>
                <img class="w-[50px] mx-auto"src="../image/ipad/icons8-smartphone-tablet-50.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">iPad </h6>
        </div>


        <!-- item4 -->
        <div class="w-[150px]">
            <div>
                <img class="w-[50px] mx-auto" src="../image/ipad/icons8-ipad-48.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">iPad mini</h6>
        </div>


        <!-- item5 -->
        <div class="w-[150px]">
            <div>
                <img  class="w-[50px] mx-auto"  src="../image/ipad/icons8-mobile-48.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">iPad Compare</h6>
        </div>


        <!-- item6 -->
        <div class="w-[150px]">
            <div>
                <img  class="w-[50px] mx-auto mx-auto"  src="../image/ipad/icons8-digital-pen-64.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">Apple Pencil</h6>
            <h6 class="text-sm text-red-700 text-center">New</h6>
        </div>


        <!-- item7 -->
        <div class="w-[150px]">
            <div>
                <img  class="w-[50px] mx-auto"  src="../image/ipad/icons8-smartphone-tablet-80.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">Keyboards</h6>
        </div>


        <!-- item8 -->
        <div class="w-[150px]">
            <div>
                <img  class="w-[50px] mx-auto"  src="../image/ipad/icons8-smartphone-tablet-80.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">Accessories</h6>
        </div>


        <!-- item9 -->
        <div class="w-[150px]">
            <div>
                <img  class="w-[50px] mx-auto"  src="../image/ipad/icons8-ios-logo-50.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">iPadOS7</h6>
        </div>


        <!-- item10 -->
        <div class="w-[150px]">
            <div>
                <img  class="w-[50px] mx-auto"  src="../image/ipad/icons8-responsive-64.png" alt="">
            </div>
            <h6 class="text-white text-base my-1 text-center">Shop iPad</h6>
        </div>
    </div>

</div>

<div class="text-center bg-[#1d1d20] h-[60px]">
    <h3 class="text-lg text-white pt-4">Celebrate Mom with the perfect gift this Mother's Day. 
        <a class="text-blue-500" href="">Shop ></a></h3>
</div>



<div class="w-full bg-black">
   <div class="max-w-screen-2xl mx-auto ">
        <!-- starting text -->
        <div class="mx-auto py-14 text-white">
            <h1 class="text-6xl font-semibold text-center py-4">iPhone Pro</h1>
            <h3 class="text-center text-5xl font-semibold pb-4">Supercharged by</h3>
            <img class="mx-auto" src="https://www.apple.com/v/ipad-pro/am/images/overview/hero/m2_logo__90ungfqgnsiu_large.png" alt="">
        </div>        

        <!-- image : ipad purple screen1 -->
        <div class=" mb-32">
            <img class="mx-auto 2xl:w-[60%] 2xl:h-full lg:px-0 px-16" src="https://www.apple.com/v/ipad-pro/am/images/overview/hero/hero__gb2msr725aa2_large.jpg" alt="">
        </div>
   
        <!-- list - Astonishing -->
        <div class="mx-auto ">
            <li class="lg:text-4xl text-2xl text-white font-normal list-none text-center mb-12 2xl:w-[800px] w-[500px] mx-auto">Astonishing performance. Incredibly  
            advanced displays. Superfast wireless 
            connectivities. Powerful new features in 
            iPadOS. The ultimate iPad experience.
            </li>

            <div class="mb-10">
                <li class="text-blue-500 text-2xl my-12 text-center list-none hover:underline"><a href="">Watch the film </a><ion-icon class="w-5" name="play-circle-outline"></ion-icon></li>
            </div>
        </div>

        <!-- image : purple screen ipad with keyboard -->
        <div class="mb-32">
            <img class="mx-auto 2xl:w-full 2xl:h-full" src="https://www.apple.com/v/ipad-pro/am/images/overview/hero/hero_combo__fcqcc3hbzjyy_medium.jpg" alt="">
        </div>

        <!-- text - M2 Chip -->
        <div class="mb-32">
            <li class="xl:text-8xl text-7xl font-semibold text-white text-center list-none">
                M2 chip. <br> Next-generation <br> performance. <br> capabilities.
            </li>
        </div>

        <!-- image 3ipads -->
        <div>
            <img class="xl:w-full xl:h-full md:w-[1200px] w-[800px] mx-auto" src="https://www.apple.com/v/ipad-pro/am/images/overview/chip/performance_hero__cxya4f2p5euu_medium.jpg" alt="">
            <h5 class="text-sm text-gray-400 pl-96">Final Cut Pro for iPad</h5>
        </div>

        <!-- list of M2 chip -->
        <div class="xl:w-[900px] w-[800px] mx-auto mt-28 pl-8">
            <li class="list-none text-gray-400 text-3xl text-left"> <span class="text-white">M2 chip.</span>
            The M2 chip is the next generation of Apple silicon,with an 
            8‑core CPU that delivers up to 15 percent faster performance and a 
            10‑core GPU that provides up to 35 percent faster graphics 
            performance.1 With a 40 percent faster Neural Engine to accelerate 
            machine learning tasks and 50 percent more memory bandwidth, M2 
            brings astonishing performance and new capabilities to iPad Pro. So 
            you can create photorealistic 3D designs, build intricate AR models, 
            and play games with console‑quality graphics at high frame rates 
            faster than ever. All while enjoying all‑day battery life.2 </li>
        </div>

        <!-- M2 image -->
        <div>
            <img  class="xl:w-full xl:h-full w-[1000px] h-[1000px] mx-auto" src="https://www.apple.com/v/ipad-pro/am/images/overview/chip/m2_end_state__d1wjtfymwb8m_large.jpg" alt="">
        </div>

        <!-- text core -->
        <div class="flex gap-12 text-white text-2xl ml-[25%]">
            <div>
                <h1 class="text-6xl font-semibold">8-core</h1>  
                <h4>CPU</h4>  
            </div>

            <div>
                <h1 class="text-6xl font-semibold">10-core</h1>
                <h4>GPU</h4>
            </div>

            <div>
                <h1 class="text-6xl font-semibold">16-core</h1>
                <h4>Neural Engine</h4>
            </div>

        </div>    
        

    <!-- list and image :  -->
    <div class="flex gap-32 pl-24 my-24">
        <div class="w-[400px]">
            <li class="list-none text-gray-400 text-2xl text-left my-10"> 
                <span class="text-white">A complete movie studio in your hands.</span>
                The high‑performance media engine on M2 accelerates 
                ProRes encode and decode. So you can convert video projects 
                to ProRes up to 3x faster than before.3
            </li>

            <li class="list-none text-gray-400 text-2xl text-left "> 
                <span class="text-white">ProRes video capture.</span>
                Now you can capture ProRes video using the
                image signal processor in M2 and advanced 
                cameras on iPad Pro. Five studio‑quality 
                microphones and four-speaker audio with support 
                for Dolby Atmos let you record and deliver theater‑like
                sound. And with Final Cut Pro for iPad, you can 
                capture in ProRes and get the highest video quality
                with amazing real-time performance for tasks
                like multistream editing.

            </li>
        </div>

        <div class="">
            <img class="float-right mb-6" src="../image/ipad/finalcut.png" alt="">
            <h6 class="text-gray-400 text-sm py-6 pl-8">Final Cut for iPad</h6>
        </div>
        

    </div>


</div>