<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../../style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../script/layout/footer.js"></script>
</head>
<body>
    <footer class="max-w-full max-h-full bg-[#f5f5f7]">
        <hr class="my-">
        <div class="max-w-screen-2xl mx-auto px-4 ">
            <div class=" grid-cols-5 hidden lg:grid">
                <!-- column 1 -->
                <div>
                <h2 class="text-black font-semibold mt-8 mb-4">Shop and Learn</h2 >
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Store</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Mac</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">iPad</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">iPhone</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Watch</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Vision</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">AirPods</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">TV & Home</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">AirTag</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Accessories</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Gift Cards</a></li>
                    </ul>


                    <h2 class="text-black font-semibold mt-8 mb-4">Wallet</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Wallet</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Card</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Pay</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Case</a></li>
                    </ul>
                </div>

                <!-- column 2 -->
                <div>
                    <h2 class="text-black font-semibold mt-8 mb-4">Account</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Manage Your Apple ID</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Store Account</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">iCloud.com</a></li>
                    </ul>


                    <h2 class="text-black font-semibold mt-8 mb-4">Entertainment</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple One</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple TV</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Music</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Arcade</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Fitness+</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple News+</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Podcasts</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Books</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Store</a></li>
                    </ul>
                </div>
                

                <!-- column 3 -->
                <div>
                    <h2 class="text-black font-semibold mt-8 mb-4">Apple Store</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Find a Store</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Genius Bar</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Today at Apple</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Group Reservations</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline e"><a href="">Apple Camp</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Apple Store App</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Financing</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Carrier Deals at Apple</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline "><a href="">Order Status</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Shopping Help</a></li>
                    </ul>
                </div>


                <!-- column 4 -->
                <div> 
                    <h2 class="text-black font-semibold mt-8 mb-4">For Business</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Apple and Business</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Shop for Business</a></li>
                    </ul>

                    <h2 class="text-black font-semibold mt-8 mb-4">For Education</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Apple and Education</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Shop for K-12</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Shop for College</a></li>
                    </ul>


                    <h2 class="text-black font-semibold mt-8 mb-4">For Healthcare</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Health on Apple Watch</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Health Records on iPhone</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Apple Case</a></li>
                    </ul>

                    <h2 class="text-black font-semibold mt-8 mb-4">For Government</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Shop for Government</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Shop for Veterans and Military</a></li>
                    </ul>

                </div>

                <!-- column 5 -->
                <div>
                    <h2 class="text-black font-semibold mt-8 mb-4">Apple Values</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Accessibility</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Education</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Enviroment</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Inclusion</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Privacy</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Recial Equity and Justice </a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href=""Supply Chain ></a></li>
                    </ul>


                    <h2 class="text-black font-semibold mt-8 mb-4">About Apple</h2>
                    <ul class="text-gray-500 list-none  mr-5 pr-full">
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Newsroom</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Apple Leadership</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Career Opportunities</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Investors</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Ethics & Compliance</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Event</a></li>
                        <li class="font-light text-1rem mb-2 hover:underline"><a href="">Contact Apple </a></li>
                    </ul>
                </div>
            </div>    
            
            </div class="">
            
                <div  class="pt-2 px-4 lg:hidden">
                    <hr>
                    <!-- botton1 -->
                    <div  class="flex py-2 items-center justify-between">
                        <button class="btn list-none ml-2 text-gray-700" >Shop and Learn </button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>
                    
                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class=" mt-1 mx-auto text-gray-500 hidden">   
                            <li class="font-light py-2 pl-10 text-sm hover:underline"><a href="">Store</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Mac</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">iPad</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">iPhone</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Watch</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Vision</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">AirPods</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">TV & Home</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">AirTag</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Accessories</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Gift Cards</a></li>
                        </ul>
                    </div>

                    <hr>


                    <!-- botton2 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >Apple Wallet</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden">
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Wallet</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Card</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Pay</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Case</a></li>
                        </ul>
                    </div>

                    <hr>
                    



                    <!-- botton3 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >Account</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden">
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Manage Your Apple ID</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Store Account</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">iCloud.com</a></li>
                    </ul>
                    </div>
                    
                    <hr>


                    <!-- botton4 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >Entertainment</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden">
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple One</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple TV</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Music</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Arcade</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Fitness+</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple News+</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Podcasts</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Books</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Store</a></li>
                        </ul>
                    </div>
                    
                    <hr>


                    <!-- botton5 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >Apple Store</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden">
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Find a Store</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Genius Bar</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Today at Apple</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Group Reservations</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Camp</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Store App</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Financing</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Carrier Deals at Apple</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Order Status</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline"><a href="">Shopping Help</a></li>
                     </ul>
                    </div>

                    <hr>


                    <!-- botton6 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >For Business</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden">
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple and Business</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Shop for Business</a></li>
                        </ul>
                    </div>

                    <hr>


                    <!-- botton7 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >For Education</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden">
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple and Education</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Shop for K-12</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Shop for College</a></li>
                        </ul>
                    </div>

                    <hr>

                    <!-- botton8 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >For Healthcare</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden">
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Health on Apple Watch</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Health Records on iPhone</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Apple Case</a></li>
                        </ul>
                    </div>

                    <hr>

                    <!-- botton9 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >For Government</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden">
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Shop for Government</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Shop for Veterans and Military</a></li>
                        </ul>
                    </div>

                    <hr>

                    <!-- botton10 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >Apple Values</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden">
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Accessibility</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Education</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Enviroment</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Inclusion</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Privacy</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href="">Recial Equity and Justice </a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline "><a href=""Supply Chain ></a></li>
                        </ul>
                    </div>

                    <hr>


                    <!-- botton11 -->
                    <div class="flex py-2 items-center justify-between ">
                        <button class="btn list-none ml-2 text-gray-700" >About Apple</button>
                        <img class="arrow w-8 rotate-0" src="../../image/footer/down-arrow.png" alt="">
                    </div>

                    <div class="container overflow-hidden max-h-0 transition-max-height duration-500">
                        <ul class="mt-1 mx-auto text-gray-500 hidden ">
                            <li class="font-light py-2 pl-10 text-sm hover:underline"><a href="">Newsroom</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline"><a href="">Apple Leadership</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline"><a href="">Career Opportunities</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline"><a href="">Investors</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline"><a href="">Ethics & Compliance</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline"><a href="">Event</a></li>
                            <li class="font-light py-2 pl-10 text-sm hover:underline"><a href="">Contact Apple </a></li>
                        </ul>
                    </div>
                    
                    <hr>    
                </div>

                <!-- Down -->
            <div class="max-w-screen-2xl mx-auto px-4 ">
                <div class="mt-10 mb-5">
                    <p class="text-gray-500  ">More ways to shop: <span class="text-blue-500 underline"> <a href="https://www.apple.com/retial">Find an Apple Store </a></span> or </span ><a class="text-blue-500 underline" href="https://locate.apple.com/">other retailer</a></span> or spam
                        near you. Or call 1-800-MY-APPLE.</p>
                </div>

                <hr class="hidden lg:flex">

                <div class="text-gray-500 text-s text-start mr-auto lg:hidden">
                    <a class="hover:underline" href="https://www.apple.com/choose-country">United States</a>
                </div>

                <div class="flex flex-wrap mt-5 mb-5 ">

                    <div class="flex flex-col lg:flex-row">
                        <div class="mr-10">
                            <p class="  text-gray-500 text-s ">Copyright © 2024 Apple Inc. All rights reserved.</p>
                        </div>
                        <div class="flex flex-row text-gray-600 text-s">
                            <a class="hover:underline" href="https://www.apple.com/legal/privacy/"> Privacy</a>
                            <p class="mx-3">|</p>
                            <a class="hover:underline" href="https://www.apple.com/legal/internet-services/terms/site">Term of Use</a>
                            <p class="mx-3">|</p>
                            <a class="hover:underline" href="https://www.apple.com/legal/ius/shop/goto/help">Sales and Refund</a>
                            <p class="mx-3">|</p>
                            <a class="hover:underline" href="https://www.apple.com/legal/">Legal</a>
                            <p class="mx-3">|</p>
                            <a class="hover:underline" href="https://www.apple.com/sitemap/">Site Map</a>
                        </div>
                    </div>   

                    <div class="text-gray-500 text-s text-end ml-auto hidden lg:flex">
                            <a class="hover:underline" href="https://www.apple.com/choose-country">United States</a>
                    </div>

                </div>
            </div>
            <footer-layout class="footer"></footer-layout>
        </div>
   </body>

   <script src="../../script/layout/footer.js"></script>
</html>