<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navba</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../style/style.css">
</head>
<body>
    <main>
        <!-- <div class=" flex justify-center items-center px-6 mx-autor">
            <div class="flex gap-10px">
                <div class=" flex  items-center gap-10px ">
                    <img class="w-10" src="../../image/navba/apple (1).png" alt="">
        

                    <div class="flex list-none  gap-3px ">
                        <li class=""><a href="">Store</a></li>
                        <li class=""><a href="">Mac</a></li>
                        <li class=""><a href="">iPad</a></li>
                        <li class=""><a href="">iPhone</a></li>
                        <li class=""><a href="">Watch</a></li>
                        <li class=""><a href="">Vision</a></li>
                        <li class=""><a href="">AirPods</a></li>
                        <li class=""><a href="">TV & Home</a></li>
                        <li class=""><a href="">Entertainment</a></li>
                        <li class=""><a href="">Accesseries</a></li>
                        <li class=""><a href="">Support</a></li>
                    </div>
                </div>
            </div>
        </div> -->


        <div  class="w-100% bg-[#dadadc] h-14  p-3">
            <div class="">
                <div class="flex justify-center items-center text-center  gap-10 ">
                    <img src="../../image/navba/apple (1).png" alt="" class="w-6">

                    <div class="flex list-none  gap-10 ">
                        <li class=""><a href="">Store</a></li>
                        <li class=""><a href="">Mac</a></li>
                        <li class=""><a href="">iPad</a></li>
                        <li class=""><a href="">iPhone</a></li>
                        <li class=""><a href="">Watch</a></li>
                        <li class=""><a href="">Vision</a></li>
                        <li class=""><a href="">AirPods</a></li>
                        <li class=""><a href="">TV & Home</a></li>
                        <li class=""><a href="">Entertainment</a></li>
                        <li class=""><a href="">Accesseries</a></li>
                        <li class=""><a href="">Support</a></li>
                    </div>

                    <img class="w-5" src="../../image/navba/search (1).png" alt="">
                    
                    <img class="w-6" src="../../image/navba/market.png" alt="">
                </div>
            </div>
        </div>

    </main>

</body>
</html>