<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navba</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../style/style.css">
</head>
<body>
    <main>
      <nav class="bg-[#f9f9fb] z-[100]  sticky top-0 ">
        <div
          class="flex lg:justify-between lg:items-center max-w-screen-xl h-14 p-3 items-center my-auto mx-auto lg:overflow-hidden"
        >
          <div class="mr-8">
            <a href="./home.html"
              ><img class="w-6 ml-2" src="../image/navba/apple (1).png" alt=""
            /></a>
          </div>
  
          <ul
            class="container lg:flex lg:justify-between flex-col lg:flex-row hidden lg:static top-0 right-0 z-[100] w-full lg:h-auto left-0 pl-12 duration-1000 delay-500"
          >
            <li
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a id="store"  href="./store.html">Store</a>
            </li>
  
  
            <li id="mac"
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a href="./mac.html">Mac</a>
            </li>
  
  
            <li id="ipad"
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a href="">iPad</a>
            </li>
  
  
            <li id="iphone"
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a href="">iPhone</a>
            </li>
  
  
            <li id="watch"
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a href="">Watch</a>
            </li>
  
  
            <li id="vision"
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a href="">Vision</a>
            </li>
  
  
            <li id="airpods"
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a href="">AirPods</a>
            </li>
  
  
            <li id="tv-home"
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a href="">TV & Home</a>
            </li>
  
  
            <li id="entertainment"
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a href="">Entertainment</a>
            </li>
  
  
            <li id="accessories"
              class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
            >
              <a href="">Accessories</a>
            </li>
   
            <li id="support"
            class="drop-button lg:text-base lg:text-gray-600 list-none my-8 text-3xl text-black"
          >
            <a href="">Support</a>
          </li>
  
          </ul>
  
          <div class="flex ml-auto lg:ml-8 z-[0]">
            <a href=""
              ><img
                class="w-6 mr-8 lg:w-5"
                src="../image/navba/search (1).png"
                alt=""
            /></a>
            <a href=""
              ><img
                class="w-6 mr-8 lg:w-5"
                src="../image/navba/market.png"
                alt=""
            /></a>
          </div>
          <botton class="relative z-[1000] cursor-pointer"
            ><ion-icon id="menu-btn" onclick="Menu(this)" class="w-7 h-7 lg:hidden " name="menu"></ion-icon>
  
        </botton>
        </div>
      </nav>
  
      <ul
        id="menu-container"
        class="flex flex-col items-start lg:hidden fixed top-[-10%] left-0 w-full h-[0vh] bg-[#f9f9fb] py-10 px-6 duration-700"
      >
        <div id="list-container" class="opacity-0 invisible duration-300 w-full ">
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">Store</a>
          </li>
  
  
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">Mac</a>
          </li>
  
  
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">iPad</a>
          </li>
  
  
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">iPhone</a>
          </li>
  
  
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">Watch</a>
          </li>
  
  
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">Vision</a>
          </li>
  
  
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">AirPods</a>
          </li>
  
  
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">TV & Home</a>
          </li>
  
  
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">Entertainment</a>
          </li>
  
  
          <li
            class="lg:text-base lg:text-gray-600 list-none my-4 w-full text-3xl"
          >
            <a href="" class="w-full">Accesseries</a>
          </li>
        </div>
      </ul>
  
    <!-- blur overlay -->
  <div id="blur-overlay" class=" w-full fixed h-screen bg-white/20 backdrop-blur-md opacity-0 duration-700 pointer-events-none">
  
  </div>
  <div id="store-container" class="w-full bg-[#f9f9fb] h-[600px] fixed top-[-100%] duration-700 z-10 ">
    <div class="max-w-screen-xl p-3 mx-auto flex">
        <ul class=" font-light tex-sm  text-gray-500  ">Store 
            <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Shop the latest</a></li>
            <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Mac</a></li>
            <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPad</a></li>
            <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPhone</a></li>
            <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Watch</a></li>
            <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Vision Pro</a></li>
            <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Accessories</a></li>
        </ul>
  
  
        <ul class="font-light tex-sm  text-gray-500 pl-32 ">Store
          <li class=" tex-sm  font-medium my-3 text-black">Find a Store<a href=""></a></li>
          <li class=" tex-sm  font-medium my-3 text-black">Order Status<a href=""></a></li>
          <li class=" tex-sm  font-medium my-3 text-black">Apple Trade in<a href=""></a></li>
          <li class=" tex-sm  font-medium my-3 text-black">Financing<a href=""></a></li>
      </ul>
  
      <ul class="font-light tex-sm text-gray-500  pl-32 ">Shop Special Store
        <li class=" tex-sm  font-medium my-3 text-black">Certificate Refurbished<a href=""></a></li>
        <li class=" tex-sm  font-medium my-3 text-black">Education<a href=""></a></li>
        <li class=" tex-sm  font-medium my-3 text-black">Business<a href=""></a></li>
        <li class=" tex-sm  font-medium my-3 text-black">Veterans and Militeries<a href=""></a></li>
        <li class=" tex-sm  font-medium my-3 text-black">Government<a href=""></a></li>
      </ul>
    </div>
  
  </div>

<!-- Mac -->
<div id="mac-container" class="w-full  fixed d bg-[#f9f9fb] h-[670px]  top-[-100%] duration-700 z-20">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Explore Mac
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Explore All Mac</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >MacBook Air</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >MacBook Pro</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iMac</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Mac Mini</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Mac Studio</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Mac pro</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Display</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">Shop Mac
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop Mac</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Mac Accessories</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Trade in</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Financing</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">More From Mac
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Mac Support</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AppleCare+ For Mac</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">MacOS Sonoma</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apps by Apple</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Contiuity</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">iCloud+</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Mac for Business</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Education</a></li>
    </ul>
</div>

<!-- iPad -->
<div id="ipad-container" class="w-full  fixed bg-[#f9f9fb] h-[670px] top-[-100%] duration-700">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Explore iPad
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Explore All iPad</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPad Pro</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPad Air</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPad</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPad Mini</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Pencil</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Keyboard</a></li>
  </ul>

  <ul class="font-light tex-sm  text-gray-500 pl-32 ">Shop iPad
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop iPad</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">iPad Accessories</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Trade In</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Financing</a></li>
  </ul>

  <ul class="font-light tex-sm  text-gray-500 pl-32 ">More from iPad
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">iPad Support</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AppleCare+ for iPad</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">iPadOS 17</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apps by Apple</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">iCloud+</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Education</a></li>
  </ul>
  </div>
</div>


<!-- iphone-->
<div id="iphone-container" class="w-full  fixed bg-[#f9f9fb] h-[670px] top-[-100%] duration-700">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Explore iPhone
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Explore All iPhone</a></li> 
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPhone 15 Pro</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPhone 15</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPhone 14</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPhone 13</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPhone SE</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">Shop iPhone
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop iPhone</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">iPhone Accessories</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Trade In</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Carrier Deals at Apple</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Financing</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">More form iPhone
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">iPhone Support </a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AppleCare+ for iPhone</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apps by Apple</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">iPhone Privacy</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">iCloud+</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Wallet, Pay, Card</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Siri</a></li>
    </ul>
  </div>
</div>


<!--watch -->
<div id="watch-container" class="w-full  fixed bg-[#f9f9fb] h-[670px] top-[-100%] duration-700">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Explore Watch
      <li class="font-semibold list-none my-6 w-full text-3xl text-black">Explore All Apple Watch<a href= ></a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Watch Series9</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Watch Ultra 2</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Watch SE</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Watch Nike</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Watch Hermes</a></li>
    </ul>

  <ul class="font-light tex-sm  text-gray-500 pl-32 ">Shop Watch
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop Apple Watch</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Watch Studio</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Watch Bands</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Watch Accessories</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Trade In</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Financing</a></li>
   </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">More from Watch
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Watch Support</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AppleCare+ </a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">watchOS 10</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apps by Apple</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Fitness</a></li>
    </ul>
  </div>
</div>

<!--Vision-->
<div id="vision-container" class="w-full  fixed bg-[#f9f9fb] h-[670px] top-[-100%] duration-700">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Explore Vision
      <li class="font-semibold list-none my-6 w-full text-3xl text-black">Explore Apple Vision Pro<a href= ></a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">Shop Vision
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop Apple Vision Pro</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Vision Pro Accessories</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Book a Demo</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Financing</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">More from Vision
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Vision Pro Support</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href=""></a>AppleCare+</li>
    </ul>
  </div>
</div>


<!--airpods-->
<div id="airpods-container" class="w-full  fixed bg-[#f9f9fb] h-[670px] top-[-100%] duration-700">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Explore AirPods
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Explore All AirPods</a></li> 
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >AirPods Pro 2nd generation</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >AirPods 2nd generation</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >AirPods 3rd generation</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >AirPods Max</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">Shop AirPods
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop AirPods</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AirPods Accessories</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">More from AirPods
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AirPods Support</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AppleCare+ for Headphones</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Music</a></li>
    </ul>
  </div>
</div>


<!--tv & home-->
<div id="tv-container" class="w-full  fixed bg-[#f9f9fb] h-[670px] top-[-100%] duration-700">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Explore TV & Home
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Explore TV & Home</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple TV 4K</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >HomePod</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >HomePod mini</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">Shop TV & Home
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop Apple TV 4K</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop HomePod</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop HomePod mini</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Shop Siri Remote</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">tV & Home Accessories</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">MOre from TV & Home
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple TV Support </a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">HomePod Support</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AppleCare+</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple TV app</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple TV</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Home app</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Music</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Siri</a></li>           
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AirPlay</a></li>
    </ul>
  </div>
</div>

<!--entertainment-->
<div id="entertainment-container" class="w-full  fixed bg-[#f9f9fb]  h-[670px] top-[-100%] duration-700">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Explore Entertainment
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Explore Entertainment</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple One</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Music</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple TV+</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Arcade</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Fitness</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple News+</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Podcase</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Books</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Store</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">Support
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple TV+ Support</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple Music Support</a></li>
    </ul>
  </div>
</div>

<!--accessories-->
<div id="accessories-container" class="w-full  fixed bg-[#f9f9fb] h-[670px] top-[-100%] duration-700">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Shop Accessories
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Shop All Accessories</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Mac</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPad</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPhone</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Watch</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Vision Pro</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >AirPods</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Tv & Home</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">Explore
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Made by Apple</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Beats by Dr.Dre</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">AirTag</a></li>
    </ul>
  </div>
</div>

<!--support-->
<div id="support-container" class="w-full  fixed bg-[#f9f9fb] h-[670px] top-[-100%] duration-700">
  <div class="max-w-screen-xl p-3 mx-auto flex">
    <ul  class="font-light text-sm text-gray-500 ">Explore Support
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPhone</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Mac</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >iPad</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Watch</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Apple Vision Pro</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >AirPods</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >Music</a></li>
      <li class="font-semibold list-none my-6 w-full text-3xl text-black"><a href= >TV</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">Get Help
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Community </a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">check Coverage</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Repair</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Contact Us</a></li>
    </ul>

    <ul class="font-light tex-sm  text-gray-500 pl-32 ">Helpful Topics
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Get AppleCare+</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Apple ID & Password</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Billing & Subscriptions</a></li>
      <li class=" tex-sm  font-medium my-3 text-black"><a href="">Find My Accessories</a></li>
    </ul>
  </div>
</div>

    <script>
        function Menu(e) {
          e.name = e.name === 'menu' ? "close" : "menu"
        }

    </script>
      <script src="../../script/layout/navba.js"></script>
  </body>

</html>
