@tailwind base;
@tailwind components;
@tailwind utilities;

.nunito {
    font-family: "Nunito Sans", sans-serif; 
}


.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }


@keyframes slide {
    0% {
        transform: translateX(0%)
    }
    100%{
        transform: translateX(-100%)
    }
}

.slider-animate {
    animation: slide 15s linear infinite;
}