<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../../style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main>
    <div class="max-w-screen-full">
        <!-- first screen -->
        <div class="bg-[#f5f5f7] pb-12 pt-10"> 
            <div class="h-2/4">
                <img class="w-full"  src="../../image/homepage/gift card 1.png" alt=>
                <div class="text-5xl 2xl:text-7xl nunito mx-auto max-w-screen-2xl text-center font-medium text-black pt-10 pb-2">
                    <h1 class="mb-2 ">Apple Event</h1>
                    <li class="text-2xl 2xl:text-3xl font-normal nunito list-none mb-6 pt-2">Watch online on 5/7 at 7 a.m.PT.</li>
                    <button class="bg-[#0071e3] text-white py-3 px-12 rounded-full text-xl nunito">Learn more</button>
                </div>       
            </div>
        </div>
        


        <!-- slide 2 -->
        <div class="bg-black">
            <div class="w-full pb-8">
                <h1 class="text-5xl 2xl:text-7xl nunito mx-auto max-w-screen-2xl text-center font-medium text-white pt-24 pb-2">iPhone 15 Pro</h1>
                <li class="text-2xl 2xl:text-3xl nunito mx-auto max-w-screen-2xl text-center  text-white pb-2 list-none font-extralight">Titanium. So strong. So light. So Pro.</li>
            </div>
            <div class="flex justify-center gap-6">
                <button class="bg-[#0071e3] text-white py-3 px-12 rounded-full text-xl nunito">Learn more</button>
                <button class=" text-[#0071e3] py-3 px-12 rounded-full text-xl nunito hover:bg-[#0071e3] border-[#0071e3] border-2">Buy</button>
            </div>
        <div>
            <img class="w-full"  src="../../image/homepage/iphone 15 pro (2.png" alt="">
        </div> 
        </div>



        <!-- Slide 3 -->
        <div class="bg-[#f5f5f7] h-2/4">
            <div class="w-full h-1/4 ">
                <h1 class="text-5xl 2xl:text-7xl nunito mx-auto max-w-screen-2xl text-center font-medium text-black pt-24 pb-2">iPhone 15</h1>
                <li class="text-2xl 2xl:text-3xl nunito mx-auto max-w-screen-2xl text-center  text-black list-none font-extralight pb-4">New camera. New design. Newphoria</li>
            </div>   
            <div class="flex justify-center gap-6">
                <button class="bg-[#0071e3] text-white py-3 px-12 rounded-full text-xl nunito">Learn more</button>
                <button class=" text-[#0071e3] py-3 px-12 rounded-full text-xl nunito hover:bg-[#0071e3] border-[#0071e3] border-2">Buy</button>
            </div>
            <div>
                <img class="w-full" src="../../image/homepage/iphone15 (3.png" alt="">
            </div>
        </div>


        <!-- flex box content 4 -->
        <div >
            <!-- row1 -->
            <div class="flex h-24">
                <!-- column1 -->
                <div class="w-1/2 m-3">
                    <img class="w-full" src="../../image/homepage/version pro-4.jpg" alt="">

                </div>

                <!-- column2 -->
                <div class="w-1/2">
                    <img class="w-full m-3" src="../../image/homepage/macbook-5.jpeg" alt="">
                </div>

            </div>
        </div>
    </div>
</main>
</body>
</html>